{% extends 'base.html.twig' %}

{% block title %}EA Home{% endblock %}

{% block main %}
    <h1 class="">{{ 'home.headline'|trans }}</h1>
    <p>{{ 'home.copy.p1'|trans|raw }}</p>
    <p>{{ 'home.copy.p2'|trans|raw }}</p>
{% endblock %}